// Just for demo purposes
@import '../../node_modules/angular-carousel/dist/angular-carousel.css'
@import '../../node_modules/swiper/dist/css/swiper.css'

.app
  height 100%
  background-color $lightBgColor
