<navbar></navbar>
<section class="hero">
  <br>

  <h1>
    <a href="{{$ctrl.libData.url}}" target="_blank">{{ $ctrl.libData.name}}</a>
  </h1>
  <p>
    It requires jQuery: {{$ctrl.libData.requireJquery}}
  </p>

  <br>
  <div ng-if="$ctrl.items.length">

    <ul rn-carousel class="image" rn-carousel-auto-slide="" rn-carousel-index="carouselIndex2">
      <li ng-repeat="item in $ctrl.items" class="carousel-item">
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
        <button type="button" class="remove-carousel-item" ng-click="$ctrl.deleteItem(carouselIndex2)">Delete</button>
      </li>
    </ul>

    <div rn-carousel-indicators slides="$ctrl.items" rn-carousel-index="carouselIndex2"></div>

  </div>

</section>
