<navbar></navbar>
<div class="hero">
  <h1>
    <a href="{{$ctrl.libraryData.link}}">{{ $ctrl.libraryData.name }}</a>
  </h1>
  <h2>It requires jQuery: {{$ctrl.libraryData.requireJquery}}</h2>

  <br>

  <h3>
    Directive (owlCarousel folder)
  </h3>
  <owl-carousel collection="$ctrl.collection" settings="$ctrl.settings"></owl-carousel>

  <h3>
    Component (owlCarouselComponent folder)
  </h3>
  <owl-carousel-comp collection="$ctrl.collection" settings="$ctrl.settings"></owl-carousel-comp>
</div>
